<div class="ui sizer vertical segment">
    <div class="ui medium header">Parameters</div>
    <div class="box">
        <input (input)="onInput($event.target.value)" />
        <button (click)="toggleHeader()">Toggle header</button>
    </div>
    <div class="ui raised segment">
        <app-placeholder [header]="header" [lines]="lines"></app-placeholder>
    </div>
</div>
<app-better-divider>Segment</app-better-divider>
<app-segment>
    <content>
        <i class="glass martini icon purple"></i>
        No drinks served.
    </content>
    <button class="ui primary button">Serve drinks!</button>
    <!-- displays in a card -->
    <!-- ng-content select works also on CSS classes -->
    <div class="ui statistics">
        <div class="purple statistic">
            <div class="value">
                27'589
            </div>
            <div class="label">
                drinks served this month
            </div>
        </div>
    </div>
    <!-- display is not necessarily described in order -->
    <!-- ng-content select works also on selectors -->
    <div description>
        <div class="meta">
            <div class="description">The best bar in town, by invitation only.</div>
        </div>
        <hr>
    </div>
</app-segment>