<div class="ui container">
    <!-- navigation -->
    <div class="ui secondary pointing menu">

        
        <a routerLink='/' class='item'>Home</a>
        <a routerLink="/elements" routerLinkActive='active' class='item'>Elements</a>
        <a routerLink="/collections" routerLinkActive='active' class='item'>Collections</a>
        <a routerLink="/lazy-loaded" routerLinkActive='active' class='item'>Lazy Loaded</a>
    </div>
    <!-- content -->
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>