<h1> Udemy Angular Course Password Generator Thingie</h1>
<div>
<label>Password length
</label>
<input (change)="onChangeLength($event.target.value)"/>
</div>
<div>
  <label>Use letters
  </label>
  <input type="checkbox" (change)="onChangeUseLetters()"/>
  </div>
  <div>
    <label>Use numbers
    </label>
    <input type="checkbox" (change)="onChangeUseNumbers()"/>
    </div>
    <div>
      <label>Use symbols
      </label>
      <input type="checkbox" (change)="onChangeUseSymbols()"/>
      </div>
<div>
  <button (click)="onButtonClick()">Generate a password that looks cool and is strong like Mr Muscle!</button>
</div>
<div>
  <label>Here's your sexy sweaty password:
  </label>
  <input [value]="password.value"/>
  </div>
  {{ password.value }}