<div class="container">
  <nav>
    <ul class="pagination">
      <ng-container *ngFor="let job of jobs; let i = index;">
      <li class="page-item" [ngClass]="{active : i === currentPage}" *ngIf="shouldDisplayPageItem(i)">
        <a class="page-link" (click)="currentPage = i;">{{i + 1}}</a>
      </li>
    </ng-container>
      <li class="page-item" [ngClass]="{disabled : hasPinned()}">
        <a class="page-link" (click)="getPinned()">Pinned News</a>
      </li>
      <li class="page-item" [ngClass]="{disabled : currentPage === (jobs.length -1)}" >
        <a class="page-link" (click)="currentPage = currentPage+1;">Earlier</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="currentPage = jobs.length-1;">Earliest</a>
      </li>
    </ul>
  </nav>
  <div>
    <img src={{jobs[currentPage].url}}>
    {{jobs[currentPage].company}}
    <div [ngSwitch]="currentPage"  appCssClass [customColor]=" 'red' ">
        <div *ngSwitchCase=3>
          This was highly dangerous but so much fun.
        </div>
        <div *ngSwitchCase=2>
          I had to quit this job because of the allergy to codeine.
        </div>
        <div *ngSwitchCase=1>
          I had to quit this job because of the allergy to caffeine.
        </div>
    </div>
  </div>

</div>