<div class="container">
  <div class="columns is-centered">
    <div class="box column is-half">

      <h1> Type Game</h1>
      <div class="field">
        <!--seriously, to style innerHTML you pass in yourself, you NEED to remove encpasulation from the whole module? -->
        <label class="has-text-centered" innerHTML="{{displaySentence}}"></label>
        <br/>
        <input (change)="onChangeSentence($event.target.value)" (input)="onInput($event.target.value)" />
      </div>
      <hr />
      <div *ngIf="success()">
      <h2 class="title has-text-centered">Well done, you made it!</h2>
      <br/>
        <button [disabled]="!success()" (click)="onButtonClick()">New game</button>
      </div>
    </div>
  </div>
</div>